{% unless customer %}
  <div
    class="announcement-bar__slide"
    role="group"
    aria-roledescription="Slide"
    {{ block.shopify_attributes }}
  >
    <p class="announcement-bar__text">
      {% if block.settings.heading != blank %}
        <strong>{{ block.settings.heading }}</strong>
      {% endif %}

      {{ block.settings.text }}

      {% if block.settings.link_label != blank %}
        <a
          href="{{ routes.account_login_url }}"
          class="octo-guest-announcement__button"
        >
          {{ block.settings.link_label }}
        </a>
      {% endif %}
    </p>
  </div>
{% endunless %}

{% stylesheet %}
  .octo-guest-announcement__button {
    display: inline-block;
    margin-inline-start: 10px;
    font-weight: 700;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .octo-guest-announcement__button:hover {
    opacity: 0.75;
  }

  @media screen and (max-width: 749px) {
    .octo-guest-announcement__button {
      display: block;
      margin-block-start: 4px;
      margin-inline-start: 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Guest account message",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "First time here?"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Message",
      "default": "Create a free account in seconds so you can design patches, save your artwork, and place orders whenever you're ready."
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link text",
      "default": "Log in or create an account"
    }
  ],
  "presets": [
    {
      "name": "Guest account message"
    }
  ]
}
{% endschema %}